.logo {
    text-align: center;
    padding-top: 2%;
    
    

}

.logo a{
    font-family: 'Dancing Script', cursive;
    font-size: 65px;
    text-decoration: none;
    color: black; 
    
    
    
}
